<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UPC.CambioUPC.BL.Properties.Settings.dbCambioUPCConnectionString"
            connectionString="Data Source=dbupcdsddevb.c7hd087gmch2.us-east-2.rds.amazonaws.com;Initial Catalog=dbCambioUPC;Persist Security Info=True;User ID=admin;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>